/[Ll]ibrary/
/[Tt]emp/
/[Bb]uild/
/[Oo]bj/
/[Bb]uilds/
/Assets/AssetStoreTools*

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln*
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.DS_Store

*.pidb.meta
sysinfo.txt
*.stackdump

*.apk
*.unitypackage
